body {
  font-size: 20px;
  text-align: center;
  background-color: rgb(30, 31, 32);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
}

table {
  border: 1px solid grey;
  margin: auto;
}
td {
  border: 1px solid grey;
  font-size: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: gray;
  font-weight: 700;
}
button {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 10px;
  background-color: rgb(43, 43, 52);
  color: azure;
  padding: 10px;
  font-size: 18px;
}
.light-mode {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  /* background-color: beige; */
  /* background-color: ; */
  color: azure;
  font-weight: 700;
}
.marked {
  background: '🚩';
  background-color: lightpink;
}
.zero {
  background-color: lightgray;
}
.one {
  color: blue;
}
.two {
  color: green;
}
.third {
  color: red;
}
.wrap-btn-light {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.light-bulb-1,
.light-bulb-2,
.light-bulb-3 {
  background-color: rgb(216, 216, 82);
  width: 50px;
  height: 50px;
  padding: 5px;
}

.reset-game {
  background: none;
  padding: 10px;
  /* background-color: rgb(30, 31, 32) */
  /* border-style: none; */
  font-size: 18px;
  margin: 0;
}
.timer {
  border: 1px solid grey;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
}
footer {
  margin-top: 25px;
}
.not-allowed {
  cursor: not-allowed;
}
/* .life-left {
} */
